/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
a {
  text-decoration: none;
  color: inherit;
}
body{
	background-color: #5B0000;
	background-color: #5B0000;
	/*background-image: linear-gradient(200deg, #583292, #24083b);*/
	/*background-image: linear-gradient(200deg, #583292, #24083b);*/
	padding: 20px;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
		/* top-bottom along vertical axis */
	justify-content: center;
		/* L-R along horizontal axis */
	align-content: center;
}
.box{
	background-color: #DCDDDF;
	/*background-image: linear-gradient(180deg, #DAABAC, #ffffff);*/
	height: 230px;
	width: 260px;
	height: 230px;
	width: 260px;
	padding: 6px;
	border-radius: 8px;
	font-size: 11pt;
	display: flex;
	flex-direction: column;
		/* direction: column flips the axes */
		/* justify = top-bottom */
		/* align = left-right */
	justify-content: space-between;
	align-items: center;
	/* overflow needed for image rounded edges? */
	/*overflow: hidden;*/
	/*border: 3px solid green;*/
}
.box > h4{
	text-align: center;
	/*border: 2px solid red;*/
}
.box > p{
	/*border: 2px solid blue;*/
	/*border: 2px solid blue;*/
}
.box > img{
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	object-fit: contain;
	margin-left: 20px;
	margin-right: 20px;
	/*border: 2px solid yellow;*/
}
